#contentswitchermain {
  width: 80%;
  margin: auto;
}

.contentswitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contentswitcher p {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

.contentswitcher > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
